@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,300;1,200&display=swap");
html {
  background: url(/Img/pets-background.webp) repeat center center fixed;
  background-repeat: repeat;
  background-size: 30%; }

body {
  font-family: 'Itim', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

ul {
  list-style-type: none; }

img {
  object-fit: cover; }

header {
  height: 10%; }

main {
  height: 81%; }

footer {
  height: 9%; }

.header__container {
  display: flex;
  background-color: darkseagreen;
  padding: 0.5rem;
  justify-content: baseline;
  align-items: center; }

.header__logo {
  width: 5rem;
  border-radius: 50%;
  float: left;
  margin: 0.5rem; }

.header__title {
  position: relative; }

nav {
  margin-left: auto; }

.nav__links {
  border: 2px solid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky; }
  .nav__links li {
    display: inline;
    float: left;
    background-color: #F9B04B; }
    .nav__links li a {
      display: block;
      color: black;
      padding: 8px 16px;
      text-decoration: none; }
      .nav__links li a:hover {
        background-color: cadetblue;
        color: white; }

.main__container {
  padding: 1rem;
  gap: 2rem;
  flex-wrap: nowrap;
  height: 100%; }

iframe {
  min-width: 35%; }

.pets__list {
  display: grid;
  align-items: center;
  color: darkolivegreen;
  padding: 1rem;
  background-color: wheat;
  overflow: auto;
  max-height: 100%; }
  .pets__list p {
    color: black; }
  .pets__list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 0.2rem; }
  .pets__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .pets__list img {
    position: relative;
    height: 9rem;
    width: 9rem;
    overflow: hidden;
    border: 3px solid #F9B04B;
    border-radius: 25%; }

.blog__post {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  max-width: 80%;
  overflow: auto;
  background-color: #bc2a8d;
  border-radius: 15px;
  place-items: center; }
  .blog__post img {
    position: relative;
    height: 5rem;
    width: 5rem;
    border: 3px solid #F9B04B;
    border-radius: 50%; }
  .blog__post p {
    border-radius: 15px;
    background-color: aquamarine; }
  .blog__post span {
    font-size: large; }
  .blog__post form {
    flex-direction: column;
    align-items: flex-end; }
  .blog__post textarea {
    height: 10em; }

.products__container {
  background-color: midnightblue;
  min-width: 25%;
  color: white;
  overflow: auto;
  flex-wrap: nowrap;
  font-size: 1rem; }
  .products__container img {
    width: 10rem;
    height: 10rem;
    border: 3px solid #F9B04B;
    border-radius: 15px;
    margin: 2rem; }

.products__description {
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .products__description .description__img {
    position: relative; }
    .products__description .description__img .price__badge {
      position: absolute;
      top: 5px;
      left: 10px;
      padding: 5px 10px; }
  .products__description img {
    width: 25rem;
    height: 25rem;
    border-radius: 15px; }
  .products__description p {
    font-size: 3rem; }

.shelters__search {
  width: 70%;
  overflow: auto;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: chocolate; }
  .shelters__search img {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    background-color: cornsilk;
    border: 3px solid #F9B04B;
    border-radius: 15px;
    margin: 1rem; }
  .shelters__search p {
    color: darksalmon;
    -webkit-text-stroke: 1px purple;
    font-size: 3rem;
    margin: 0; }

.contact__form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  background-color: #F9B04B; }
  .contact__form .row {
    margin-bottom: 2rem; }

.contact__background {
  width: 50%; }
  .contact__background img {
    object-fit: fill;
    width: 100%;
    height: auto; }

@media screen and (max-width: 1024px) {
  .pets__list {
    font-size: 2rem; }
  .main__container {
    flex-direction: column;
    align-items: center; }
  .blog__container {
    flex-direction: column;
    align-items: center;
    justify-content: end; }
  .blog_input textarea {
    width: 20em; }
  .contact__background {
    display: none; } }

@media screen and (min-width: 1024px) {
  .pets__list {
    font-size: 2.3rem; }
  .blog__input textarea {
    width: 50em; } }

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  color: white;
  background-color: black;
  opacity: 0.8;
  margin-top: auto; }

.social__links {
  font-size: 2rem;
  opacity: 1; }

.bxl-instagram {
  color: #bc2a8d; }

.bxl-twitter {
  color: #1DA1F2; }

.bxl-tiktok {
  color: white; }
