@import url("https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,300;1,200&display=swap");
html {
  background: url(../img/pets-background.webp) repeat center center fixed;
  background-repeat: repeat;
  background-size: 30%; }

body {
  font-family: 'Itim', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

ul {
  list-style-type: none; }

img {
  object-fit: cover; }

header {
  height: 10%; }

main {
  height: 80%; }

footer {
  height: 9%; }

.header__container {
  display: flex;
  background-color: darkseagreen;
  align-items: center; }

.header__logo {
  width: 5rem;
  float: left;
  margin: 0.5rem; }

.header__title {
  position: relative; }

nav {
  margin-left: auto; }

.nav__links {
  border: 2px solid;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky; }
  .nav__links li {
    display: inline;
    float: left;
    background-color: #F9B04B; }
    .nav__links li a {
      display: block;
      color: black;
      padding: 8px 16px;
      text-decoration: none; }
      .nav__links li a:hover {
        background-color: cadetblue;
        color: white; }

.main__container {
  padding: 1rem;
  gap: 2rem;
  flex-wrap: nowrap;
  height: 100%; }

iframe {
  min-width: 10%; }

.pets__list {
  display: grid;
  align-items: center;
  color: darkolivegreen;
  padding: 1rem;
  background-color: wheat;
  overflow: auto;
  max-height: 100%; }
  .pets__list p {
    color: black; }
  .pets__list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 0.2rem; }
  .pets__list li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; }
  .pets__list img {
    position: relative;
    height: 9rem;
    width: 9rem;
    overflow: hidden;
    border: 3px solid #F9B04B;
    border-radius: 25%; }

.blog__container {
  padding: 1rem;
  gap: 2rem;
  flex-wrap: nowrap;
  height: 100%; }

.blog__post {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  max-width: 65%;
  overflow: auto;
  background-color: #bc2a8d;
  border-radius: 15px;
  place-items: center; }
  .blog__post img {
    position: relative;
    width: 35%;
    min-width: 7em;
    border: 3px solid #F9B04B;
    border-radius: 50%; }
  .blog__post p {
    border-radius: 15px;
    background-color: aquamarine; }
  .blog__post span {
    font-size: 2.5rem; }
  .blog__post form {
    flex-direction: column;
    align-items: flex-end; }

.blog__input form textarea {
  min-width: 25em;
  min-height: 15em; }

.products__list {
  background-color: midnightblue;
  min-width: 25%;
  color: white;
  overflow: auto;
  flex-wrap: nowrap;
  font-size: 1rem; }
  .products__list img {
    width: 80%;
    border: 3px solid #F9B04B;
    border-radius: 15px;
    margin: 2rem; }

.products__description {
  background-color: burlywood;
  overflow: auto; }
  .products__description .price__badge {
    position: relative;
    padding: 5px 10px; }
  .products__description img {
    width: 100%;
    border-radius: 15px; }

.products__heart {
  width: 100%; }

.shelters__search {
  width: 70%;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  background-color: chocolate; }
  .shelters__search img {
    width: 5rem;
    padding: 0.5rem;
    background-color: cornsilk;
    border: 3px solid #F9B04B;
    border-radius: 15px;
    margin: 1rem; }
  .shelters__search p {
    color: darksalmon;
    -webkit-text-stroke: 1px purple;
    margin: 0; }

.contact__form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  background-color: #F9B04B;
  border-radius: 25px;
  border: 3px solid;
  border-color: black; }
  .contact__form .row {
    margin-bottom: 2rem; }

.contact__background {
  width: 50%; }
  .contact__background img {
    object-fit: fill;
    width: 100%;
    height: auto; }

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  margin-top: auto; }

.social__links {
  font-size: 2rem;
  opacity: 1; }

.bxl-instagram {
  color: #bc2a8d;
  opacity: 1; }

.bxl-twitter {
  color: #1DA1F2;
  opacity: 1; }

.bxl-tiktok {
  color: white;
  opacity: 1; }

@media screen and (max-width: 768px) {
  .blog__container {
    flex-direction: column;
    align-items: center;
    justify-content: end; }
  .blog__input form textarea {
    width: 20em;
    height: 5em; }
  .blog__post {
    max-width: 100%; }
  .contact__background {
    display: none; }
  .main__video__container {
    width: 100%; }
  .pets__list {
    font-size: 1.5rem; }
  .products__description p {
    font-size: 1.5rem; }
  .products__list img {
    max-width: 20rem; }
  .shelters__search {
    font-size: 1.5rem; }
    .shelters__search span p {
      font-size: 2rem; }
  .shelters__item {
    flex-direction: column; }
  .main__container {
    flex-direction: column;
    align-items: center; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__video__container {
    width: 100%; }
  .pets__list {
    font-size: 2.3rem; }
  .blog__container {
    flex-direction: column;
    align-items: center;
    justify-content: end; }
  .blog__input form textarea {
    width: 30em;
    height: 8em; }
  .blog__post img {
    min-width: 5em; }
  .products__description p {
    font-size: 2rem; }
  .products__list img {
    max-width: 20rem; }
  .contact__background {
    display: none; }
  .shelters__search {
    font-size: 1rem; }
    .shelters__search img {
      width: 4rem; }
    .shelters__search span p {
      font-size: 1.5rem; }
  .shelters__item {
    flex-direction: column; }
  .main__container {
    flex-direction: column;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  .main__video__container {
    width: 60%;
    height: 60%; }
  .pets__list {
    font-size: 2rem; }
  .products__description p {
    font-size: 3rem; }
  .products__list img {
    max-width: 15rem; }
  .shelters__search {
    font-size: 1.5rem; }
    .shelters__search span p {
      font-size: 2rem; } }
