footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, .8);
  margin-top: auto;
}

.social__links {
  font-size: 2rem;
  opacity: 1;
}

.bxl {
  &-instagram{
    color: #bc2a8d;
    opacity: 1;
  }

  &-twitter {
    color: #1DA1F2;
    opacity: 1;
  }

  &-tiktok {
    color: white;
    opacity: 1;
  }
}