@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,300;1,200&display=swap');

html {
  background: url(../img/pets-background.webp) repeat center center fixed;
  background-repeat: repeat;
  background-size: 30%;
}

body {
  font-family: 'Itim', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

img {
  object-fit: cover;
}

header {
  height: 10%;
}

main {
  height: 80%;
}

footer {
  height: 9%;
}