.header {
  &__container {
    display: flex;
    background-color: darkseagreen;
    align-items: center;
  }

  &__logo {
    width: 5rem;
    float: left;
    margin: 0.5rem;
  }

  &__title{
    position: relative;
  }
}