@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__logo {
    width: 3.5rem;
  }

  .blog {
    &__container {
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }

    &__input form textarea {
      width: 10em;
    }

    &__post {
      max-width: 100%;

      & img {
        min-width: 3rem;
      }

      & span {
        font-size: 1.5rem;
      }

      &__item {
        flex-direction: column;
        align-items: center;
        justify-content: start;
      }
    }
  }

  .contact {
    &__background {
      display: none;
    }

    &__form textarea {
      height: 5em;
    }
  }

  .main__video__container {
    display: none;
  }

  .pets__list {
    font-size: 1.5rem;

    & img {
      width: 5rem;
      height: 5rem;
    }
  }

  .products {
    &__container {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__description {
      & p {
        font-size: 1rem;
      }
    }

    &__img {
      max-width: 20%;
      & p {
        font-size: 2.5rem;
      }
    }

    &__list {
      font-size: 1.5rem;

      & div {
        flex-direction: row;
      }

      & img {
        max-width: 7rem;
      }
    }
  }

  .shelters {
    &__search {
      font-size: 0.9rem;
      overflow-y: auto;

      & span p{
        font-size: 2rem;
      }

      & img {
        width: 3.5rem;
      }
    }

    &__item {
      flex-direction: column;
    }
  }

  .main__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__logo {
    width: 4rem;
  }

  .main__video__container {
    width: 80%;
    height: 40%;
  }

  .pets__list {
    font-size: 1.7rem;
    max-height: 60%;

    & img {
      width: 6rem;
      height: 6rem;
    }
  }

  .blog {
    &__container {
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }

    &__input form textarea {
      width: 30em;
      height: 8em;
    }

    &__post {
      max-width: 80%;
      align-items: center;

      & img {
        min-width: 5rem;
      }

      & span {
        font-size: 2rem;
      }

      & div {
        align-items: center;
      }
    }
  }

  .products {
    &__container {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__description {
      height: 50%;
      & p {
        font-size: 2rem;
      }
    }

    &__list {
      font-size: 2rem;

      & div {
        flex-direction: row;
      }

      & img {
        max-width: 10rem;
      }
    }
  }

  .contact {
    &__background {
      display: none;
    }

    &__form textarea {
      height: 15em;
    }
  }

  .shelters {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__search {
      font-size: 1rem;
      max-width: 100%;

      & img {
        width: 4rem;
      }

      & span p{
        font-size: 1.5rem;
      }
    }

    &__item {
      flex-direction: column;
    }

    &__map {

    }
  }

  .main__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .main__video__container {
    width: 60%;
    height: 60%;
  }

  .pets__list {
    font-size: 2rem;
  }

  .products {
    &__description {
      height: fit-content;

      & p {
        font-size: 3rem;
      }
    }

    &__img a {
      display: none;
    }

    &__list {
      min-width: 25%;
      width: fit-content;
      height: 100%;
      font-size: 2.5rem;

      & div {
        flex-direction: column;
        justify-content: center;
      }

      & img {
        max-width: 15rem;
      }
    }
  }

  .shelters {
    &__search {
      font-size: 1.5rem;

      & span p{
        font-size: 2rem;
      }
    }
  }

  .blog {
    &__input form textarea {
      width: 30em;
      height: 12em;
    }

    &__post div {
      align-items: center;
    }
  }
}