nav {
  margin-left: auto;
}

.nav {
  &__links {
  border: 2px solid;

    & li {
      background-color: #F9B04B;

      & a {
        display: block;
        color: black;
        padding: 8px 16px;
        text-decoration: none;

          &:hover {
            background-color: cadetblue;
            color: white;
          }
      }
    }
  }
}