.products {
  &__container {
    height: 100%;
    justify-content: center;
    align-items: start;
  }

  &__list {
    background-color: midnightblue;
    color: white;
    overflow: auto;
    font-size: 1rem;
    width: fit-content;

    & img {
      width: 80%;
      object-fit: cover;
      border: 3px solid #F9B04B;
      border-radius: 15px;
      margin: 2rem;
    }
  }

  &__description {
    background-color: burlywood;

    & img {
      width: 100%;
      border-radius: 15px;
    }

    & a {
      text-decoration: none;
      color: #F44336;
    }
  }

  &__heart {
    font-size: 3rem;
    width: 100%;
  }
}