.products {
  &__list {
    background-color: midnightblue;
    min-width: 25%;
    color: white;
    overflow: auto;
    flex-wrap: nowrap;
    font-size: 1rem;

    & img {
      width: 80%;
      border: 3px solid #F9B04B;
      border-radius: 15px;
      margin: 2rem;
    }
  }

  &__description {
    background-color: burlywood;
    overflow: auto;

    & .price__badge{
      position: relative;
      padding: 5px 10px;
    }

    & img {
      width: 100%;
      border-radius: 15px;
    }
  }

  &__heart {
    width: 100%;
  }
}